{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin-Courses</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<center><a href="/adminadd" >Add New Record</a>
<a href="/accounts/logout" >Logout</a>
 <form class="my-4" action="">
                    <div class="input-group mb-3">
                       <input type="text" name="q" class="form-control-lg" size="35" placeholder="Course Name / Institute Name / Location" required/>
                         <button class="btn btn-dark btn-lg" type="submit" id="button-addon2">Search</button>
                     </div>
 </form></center>
<table>
    <thead>
    <tr>
        <th>Course Name</th>
        <th>Duration</th>
        <th>Mode</th>
        <th>Institute Name</th>
        <th>Locations</th>
        <th>Category</th>
        <th>Phone</th>
        <th>Details</th>
        <th>Rooms</th>
        <th>Action</th>



    </tr>
    </thead>
    <tbody>
{% for course in data %}
    <tr>
        <td>{{ course.cousename }}</td>
        <td>{{ course.duration }}</td>
        <td>{{ course.mode }}</td>
        <td>{{ course.institutename }}</td>
        <td>{{ course.location }}</td>
        <td>{{ course.category }}</td>
        <td>{{ course.phone }}</td>
        <td>{{ course.details }}</td>
        <td>{{ course.rooms }}</td>
        <td>

            <a href="/delete/{{ course.id }}">Delete</a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>


</body>
</html>