{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Career Path</title>
        <link rel="stylesheet" href="{% static 'css/homepg.css' %}">
        <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <section>
            <nav>
                <a href="/accounts/login" class="logo"  >FUTURE SMILE</a>

                <ul>
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    <li><a href="#service">Services</a></li>
                </ul>
            </nav>

            <div class="text-container">
                <p>What Next?  &#129300;</p>
                <p>Confused?</p>
                <p>Join With Us</p>
                <form class="my-4" action="/">
                    <div class="input-group mb-3">
                       <input type="text" name="q" class="form-control-lg" size="35" placeholder="Course Name / Institute Name / Location" required/>
                         <button class="btn btn-dark btn-lg" type="submit" id="button-addon2">Search</button>
                     </div>
                </form>
            </div>
            <img src="{% static 'css/succes.jpg' %}" class="model">
        </section>
            <div class="about-container" id="about">
                <img src="{% static 'css/step.jpg' %}">
                <div class="about-text">
                    <p>About US</p>
                    <p>Providing Best Institute and Courses Near ERNAKULAM</p>
                    <p>ghgvcdhbvhjbjhbvjhbrgb vbew bfvhdbmc vm mnds vn mdsn v nds vds v mdv
                        dcjvdsbvk rjkfs v dv               bhrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
                        retttttttttttttttttttttttttttttttttttttttttttrtrrrrrrrrrrrrrrrrrrr
                        rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrwwwwwwwwwwwwwwwwwwwwwwwww
                    </p>
                    <p>
                        erejrkw3krbk3krk32hkurh32jdbcnms acn wmna dfmnqwbrku3krk3kjbwrkf32brfbw
                        flewnrku kwfbeaurhfwebfkh2iurdwbauldfhw hru3qqiuru23r k3wuir23ru 3wiy iu24]
                        nejkrduedil2rbwkrj giujd3rqh3 ek qkhh joique2bqeqwl hqhr32lrn  wiri3hwirh q
                    </p>
                    <button>Donate</button>
                </div>
            </div>
<form action="home/allcourse">
            <div class="services" id="service">
                <div class="services-text">
                <p>Services</p>
                <p>Courses</p>

            </div>
                <div class="box-3">
                    <span>ALL</span>
                    <p class="heading">Courses</p>
                    <p class="details">
                        kjndkjsvbkfje fjkwenknfkjenkjfnejwnfkjbekrbnkjbfkj
                        jjefwkebfkjbwekjbfkjewbfbwekjbfkw
                        fesnjfbwkjebkjfbwkjefjkbweffhesfv ejsfvhse jhfwjeh fndz xmnv
                    </p>
                    <button >Go</button>
                </div>
            </div>
            </div>
</form>

        <footer>
            <p> Contact Us</p>
            <p>futuresmile@gmail.com<br>
                +91 9656794373<br>
                @future_smile
            </p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
            <p class="copyright">Copyright by 785D-Future-smile.google </p>
        </footer>
        <div class="a-social-b">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </body>
</html>